.navigation{
  font-size: 0;
}
.navigation li{
  display: inline-block;
  background-color: white;
  font-size: 40px;
  padding: 30px;
  margin-left: 25px;
  margin-right: 70px;
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
}
a{
  text-decoration: none;
}
div{
  background-color: #f009;
  min-height: 50px;
}
div + div{
  background-color: #0f09;
  min-height: 50px;
}
div + div + div{
  background-color: #00f9;
  min-height: 50px;
}
div + div + div + div{
  background-color: #fa09;
  min-height: 50px;
}
